	body, a{
		font-family: Arial;
		color:#292963;
		font-color:#292963;
		font-size:1em;
	}
	
	body{
		background-color:#292963;
		position: absolute;
		width:100%;
	}
	
	html,body {
		margin: 0px auto 0px auto;
		padding: 0px;
		border:0;
	}
	
	#outerHeaderDiv{
		background-image: linear-gradient(bottom, rgb(41,41,99) 0%, rgb(249,249,249) 54%);
		background-image: -o-linear-gradient(bottom, rgb(41,41,99) 0%, rgb(249,249,249) 54%);
		background-image: -moz-linear-gradient(bottom, rgb(41,41,99) 0%, rgb(249,249,249) 54%);
		background-image: -webkit-linear-gradient(bottom, rgb(41,41,99) 0%, rgb(249,249,249) 54%);
		background-image: -ms-linear-gradient(bottom, rgb(41,41,99) 0%, rgb(249,249,249) 54%);
		
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(41,41,99)),
			color-stop(.54, rgb(249,249,249))
		);
		background-repeat: no-repeat;
		
		background-color:#f9f9f9;
		height:200px;
		position:absolute;
		width:100%;
		z-index:-1;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#292963',GradientType=0 ); /* IE6-9 */
		padding-top: 100px\9; 
	}
	
	.ui-state-active a:link, .ui-widget-content{
		color:#292963;
	}
	
	#tabs{
		font-size:1em;
	}
	
	.ui-widget-content .ui-state-active{
		font-weight:bold;
	}
	
	div.section{
		padding:16px;
		background-color:#f9f9f9;
		border:1px;
		border-style: solid;
		border-color:#f9f9f9;
		border-radius:4px;
	}
	
	#headerDiv{
		margin-top:8px;
		margin-bottom:8px;
		max-width:966px;
		margin-left:auto;
		margin-right:auto;
		width:1000px;
		padding-right:16px;
		padding-left:16px;
	}
	
	#bodyDiv{
		margin-left:auto;
		margin-right:auto;
		width:1000px;
	}
	
	#headerDiv > a{
		float:left;
		padding-top:12px;
		margin-bottom:24px;
		border:0;
	}
	
	img{
		border:0;
	}
	
	#headerText{
		float:left;
		width:53%;
		text-align: center;
	}

	#headerText > span{
		text-shadow: 2px 2px 2px #292963;
		font-family:serif;
		color:#292963;
		vertical-align: top;
		font-weight: bold;
	}
	
	#headerFSB{
		font-size:2.75em;
	}
	
	#headerKY{
		font-size:2.25em;
	}
	
	#headerSloganDiv{
		font-family:serif;
		color:#292963;
		font-weight: bold;
		font-size:1.5em;
		font-style:italic;
		float:right;
		margin-top:67px;
	}

	#navigation{
		list-style: none;
		padding-left:0px;
		margin:0px;
	}			

	#navigation li a {
		text-decoration: none;
	}

	#navigationDiv {
		float: left;
		width:211px;
	}
	
	#navigationDiv > ul{
		margin:0px;
	}
	
	#logosDiv{
		margin-top:8px;
		width:177px;
	}

	.navHeader{
	}

	.currentPage{
		font-weight: bold;
		text-decoration: none;
	}

	#contentDiv {
		margin-left:8px;
		float: left;
		width:747px;
	}

	.floatLeft{
		float: left;
	}

	.floatRight{
		float: right;
	}

	.productHeader{
		text-decoration: underline;
		font-weight: bold;
	}

	.productCategoryHeader{
		text-align: center;
	}

	#tabs{
	}

	.staffList thead tr td{
		white-space: nowrap;
		font-weight: bold;
	}

	.staffList tbody tr td{
		white-space:  nowrap;
	}
	
	.staffList{
		font-size: .85em;
		width:100%;
	}

	.bold{
		font-weight: bold;
	}

	.underline{
		text-decoration: underline;
	}
	
	.ui-widget-content h3{
		font-size:1.1em;
		margin-top:12px;
		margin-bottom:10px;
	}
	
	.ui-tabs .ui-tabs-panel
	{
		padding:12px;
	}

	.stolenDebitTextDiv{
		float: left;
		margin-left: 15px;
	}

	#secureCodeTextDiv{
	}

	#noticeDiv{
		font-size:.7em;
		max-width:966px;
	}

	#fundsDiv{
		margin-top:15px;
	}

	#accordion{
	}

	.clearBoth{
		clear: both;
	}

	.holidayLeft{
		float: left;
	}

	.holidayRow{
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.factsHeader{
		background-color: black;
		color: white;
		margin-left: 5px;
		margin-right: 10px;
		margin-top: 5px;

	}

	#accordion-resizer {     
        height: 800px;
        width: 600px;
    }

    .mapButton{
    	margin:5px auto; 
    	width: 100%;
    	text-align: center;
    }

.ui-widget > div
{
	font-size:1em;
	font-weight:normal;
}

.ui-tabs .ui-tabs-nav li a {
    padding-left: 0.4em;
    padding-right: 0.4em;
}