	#navigation{
		list-style: none;
		
	}			

	#navigation li a {
		text-decoration: none;
		font-size: large;
		color: black;
	}

	#navigationDiv {
		float: right;
		width: 200px;
	}

	.navHeader{
		font-size: large;
		font-weight: bold;
	}

	.currentPage{
		font-weight: bold;
		text-decoration: none;
	}

	#contentDiv {
		float: left;
		clear: left;
	}

	body{
		width: 1000px;
		margin: 0 auto;
	}

	.floatLeft{
		float: left;
	}

	.floatRight{
		float: right;
	}

	.productHeader{
		font-weight: bold;
		text-decoration: underline;
		/*text-align: center;*/
		width: 325px;
		/*margin-top:15px;*/
	}

	.productDesc{
		/*text-align: center;*/
		width: 325px;
	}

	.productCategoryHeader{
		text-align: center;
		width: 325px;
		font-size: x-large;
		font-weight: bold;
	}

	#tabs{
		font-size: 85%;
		width: 765px;
	}

	.staffList thead tr td{
		white-space: nowrap;
		width: 100px;
		font-weight: bold;
	}

	.staffList tbody tr td{
		width: 100px;
		white-space:  nowrap;
	}

	.bold{
		font-weight: bold;
	}

	.underline{
		text-decoration: underline;
	}

	.stolenDebitTextDiv{
		float: left;
		margin-left: 15px;
		width: 500px;
	}

	#secureCodeTextDiv{
		width:600px;
	}



